{% extends "pages/page_twocolumn.html" %}

{% load mezzanine_tags %}

{% block main %}{{ block.super }}
    <div id="map" style='width: 100%; height:600px;'></div>
    <div id='help'></div>

{% endblock %}


{% block right_panel %}
    <h4>Flow table receivers for</h4>
    <div id="donor"></div>
    <table class='table'>
    <thead>
    <tr>
        <th></th>
        <th>Patch</th>
        <th>Zone</th>
        <th>Hill</th>
        <th>% Flow</th>
    </tr>
    </thead>
    <tbody id="sidebar">

    </tbody>
    <tfoot>
    <tr id='control-panel' >
    </tr>
    <tr><td colspan="5">
            <a class="btn btn-block btn-inverse" id="download-flowtable" href="/rhessysweb/save_flowtable/?flowtable=rhessysweb/world5m_dr5.flow">Download Changes</a>
        </td>
        </tr>
    </tfoot>
    </table>
    <div class="row" id="alerts">
        <div class="alert" id='validation-alert' style='display:none'>
            <button class="close" data-dismiss="alert">&times;</button>
            <strong>Flows must sum to 1.0</strong>
        </div>
    </div>



{% endblock %}


{% block extra_js %}
    <script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
    <script src="http://openlayers.org/dev/OpenLayers.debug.js"></script>
    <script src='http://underscorejs.org/underscore-min.js' type="text/javascript"></script>
    <script src='http://backbonejs.org/backbone-min.js' type="text/javascript"></script>
    <script src='http://marionettejs.com/downloads/backbone.marionette.min.js' type="text/javascript"></script>

    <script id='sidebar-patch-template' type="text/template">
        <td><button class="btn-link btn remove">&times;</button></td>
        <td><%= patchId %></td>
        <td><%= zoneId %></td>
        <td><%= hillId %></td>
        <td><input type="text" class='gamma' size="4" value="<%= gamma ? gamma : '0' %>" /></td>
    </script>

    <script id="donor-template" type="text/template">
        Patch <%= patchId %>
        : Zone <%= zoneId %>
        : Hill <%= hillId %>
        : Total Flow <%= total_gamma %>
    </script>

    <script id='controls' type='text/template'>
        <td></td>
        <td>
            <button class="btn btn-block btn-success" id="save-flowtable">Commit</button>
        </td>
        <td>
            <button class="btn btn-block btn-danger" id="revert-flowtable">Revert</button>
        </td>
        <td>
            <button class="btn btn-block btn-primary" data-toggle='button' id="inspect-patch">Inspect patch</button>
        </td>
        <td>
            <button class="btn btn-block btn-primary" data-toggle='button' id="add-receiver">Add Receiver</button>
        </td>
    </script>


    <script type="text/javascript">
        $(function() {
            var Patch = Backbone.Model.extend({
                defaults : {patchId: 0, zoneId: 0, hillId: 0, gamma:0, total_gamma: 0},
                validate : function(attrs, options) { }
            });

            var PatchCollection = Backbone.Collection.extend({model:Patch});
            var patchCollection = new PatchCollection();
            patchCollection.on('remove', function(elt) { console.log(elt); receivers.destroyFeatures([elt.attributes.feature]); });
            patchCollection.on('add', function(elt) { console.log(elt); receivers.addFeatures([elt.attributes.feature]); });

            var SidebarPatchView = Backbone.Marionette.ItemView.extend({
                template: "#sidebar-patch-template",
                tagName: "tr", 
                ui: {
                   gamma : ".gamma",
                   remove : ".remove"
                },
                onRender: function() {
                   var me = this;
                   this.ui.gamma.change(function() { 
                      console.log('gamma changed');
                      me.model.set('gamma', parseFloat(me.ui.gamma.val()));
                      me.model.attributes.feature.attributes.gamma = parseFloat(me.ui.gamma.val());
                      receivers.redraw();
                   });
                   this.ui.remove.click(function() {
                        patchCollection.remove(me.model);
                   });
                }
            });

            var donor = new Patch({});
            var DonorView = Backbone.Marionette.ItemView.extend({
                template: "#donor-template",
                tagName: 'h6'
            });

            var ControlPanelView = Backbone.Marionette.ItemView.extend({ 
                el: "#control-panel",
                template: "#controls",
                ui: {
                    commit : "#save-flowtable",
                    revert : "#revert-flowtable",
                    inspectPatch : "#inspect-patch",
                    addReceiver : "#add-receiver"
                },
                onRender: function() {
                    this.ui.commit.click(function() { 
                        // make a call out to save all the receivers to the current patch id
                        var pc = patchCollection.map(function(e) { return {
                            'patchID' : e.attributes.patchId,
                            'hillID' : e.attributes.hillId,
                            'zoneID' : e.attributes.zoneId,
                            'gamma' : e.attributes.gamma
                        }});

                        $.ajax({
                            url: "/rhessysweb/cache_patches/",
                            type: "POST",
                            data: {
                                patch: donor.get('patchId'),
                                hill: donor.get('hillId'),
                                zone: donor.get('zoneId'),
                                flowtable: "rhessysweb/world5m_dr5.flow", // FIXME hardcoded
                                receivers: JSON.stringify(pc)
                            },
                            success: function() {
                                $(".middle").append(
                                        '<div class="alert alert-success">'+
                                        '   <button type="button" class="close" data-dismiss="alert">&times;</button>'+
                                        '   Committed changes to flow-table'+
                                        '</div>'
                                );
                            }

                        });
                    });
                    this.ui.revert.click(function() { 
                        $.ajax({
                            url: "/rhessysweb/revert_flowtable/",
                            type: "POST",
                            data: {
                                flowtable: "rhessysweb/world5m_dr5.flow" // FIXME hardcoded
                            },
                            success: function() {
                                $(".middle").append(
                                    '<div class="alert alert-error">'+
                                    '    <button type="button" class="close" data-dismiss="alert">&times;</button>'+
                                    '    Reverted flowtable'+
                                    '</div>'
                                );
                            }
                        });
                    });
                    this.ui.inspectPatch.click(function() {
                       console.log('inspectPatch');
                        featureinfo.activate();
                        drawfeature.deactivate();
                        $("help").html('Click on the map to select a patch and see its receivers');
                    });
                    this.ui.addReceiver.click(function() {
                        featureinfo.deactivate();
                        drawfeature.activate();
                        console.log('add patch'); 
                        $("#help").html("Click on the map and the patch you click on will be added to the set of receivers for this entry on the right.");
                    });
                }

            });
            var ctrlPanelView = new ControlPanelView().render();


            var SidebarView = Backbone.Marionette.CollectionView.extend({
                itemView: SidebarPatchView,
                collection: patchCollection
            });
            var sidebarView = new SidebarView({ el : "#sidebar" });


            var prj = {
                internalProjection: new OpenLayers.Projection('EPSG:900913'),
                externalProjection: new OpenLayers.Projection("EPSG:4326")
            };

            var wkt = new OpenLayers.Format.WKT(prj);
            var json = new OpenLayers.Format.GeoJSON();
            var feature = wkt.read("{{ page.renderedlayer.data_resource.spatial_metadata.bounding_box.wkt }}");
            var bounds = feature.geometry.getBounds();

            var wms = new OpenLayers.Layer.WMS('{{ page.renderedlayer.title }}', "/ga_resources/wms/", {
                styles: "{{ page.renderedlayer.default_style.slug }}",
                layers: "{{ page.renderedlayer.slug }}",
                transparent: true,
                raster: 'patch_5m'
            });

            var drawingStyle = new OpenLayers.Style({
                pointWidth : 5,
                strokeColor : "#000000",
                strokeOpacity : 0.8,
                strokeWidth : 1.5,
                fillColor : "#d95f02",
                fillOpacity : 0.6
            });



            var styleContext = {
                getStrokeColor : function(feature) {
                    return "#ffffff";
                },
                getFillColor : function(feature) {
                    if(!feature.attributes.patchId) return "#ffffff";

                    var patch = patchCollection.find(function(f) {
                        return f.get('patchId') === feature.attributes.patchId &&
                               f.get('zoneId') == feature.attributes.zoneId &&
                               f.get('hillId') == feature.attributes.hillId
                    });
                    if(patch) {
                        if(patch.get('gamma') === 0) {
                            return "#FFFFCC";
                        }
                        else if(patch.get('gamma') < 0.125) {
                            return "#A1DAB4";
                        }
                        else if(patch.get('gamma') < 0.375) {
                            return "#41B6C4";
                        }
                        else if(patch.get('gamma') < 0.5) {
                            return "#2C7FB8";
                        }
                        else {
                            return "#253494";
                        }
                    }
                    else {
                        return "#BD0026";
                    }
                },
                getStrokeWidth : function(feature) {
                    return (map.getZoom() > 13) ? 1 : 0.3;
                },
                getPointRadius : function(feature) {
                    if(!feature.attributes.patchId) return 2;

                    var patch = patchCollection.find(function(f) {
                        return f.get('patchId') === feature.attributes.patchId &&
                               f.get('zoneId') == feature.attributes.zoneId &&
                               f.get('hillId') == feature.attributes.hillId
                    });
                    var k = 0.5+(5/map.resolution)/2; // assumes a 5m resolution on the patches.
                        k = k>0 ? k : 0;

                    if(patch) {
                        if(feature.attributes.gamma === 0) {
                            return k/2>2?2:k/2;
                        }
                        else { // if(patch.get('gamma') < 0.125) {
                            return k; //3+k*2;
                        }
                    }
                    else {
                        return k;
                    }
                },
                getStrokeOpacity : function(feature) {
                    return 0.8;
                },
                getFillOpacity : function(feature) {
                    return 1.0;
                },
                getLabel : function(feature) {
                    if(map.getZoom() > 18) {
                        if(feature.attributes.total_gamma)
                            return "";
                        else {
                            return feature.attributes.gamma > 0 ? (feature.attributes.gamma * 100).toFixed(0) : "";
                        }
                    }
                    else return "";
                },
                getIcon : function(feature) {
                    if(!feature.attributes.patchId) return "cross";

                    var patch = patchCollection.find(function(f) {
                        return f.get('patchId') === feature.attributes.patchId &&
                               f.get('zoneId') == feature.attributes.zoneId &&
                               f.get('hillId') == feature.attributes.hillId
                    });
                    if(patch) {
                        if(feature.attributes.gamma === 0) {
                            return "x";
                        }

                        else {
                            return "square";
                        }
                    }
                    else {
                        return "star";
                    }
                }
            };
            var style = new OpenLayers.Style(
                {
                    pointRadius : "${getPointRadius}",
                    strokeColor : "${getStrokeColor}",
                    strokeOpacity : "${getStrokeOpacity}",
                    strokeWidth : "${getStrokeWidth}",
                    fillColor : "${getFillColor}",
                    fillOpacity : "${getFillOpacity}",
                    graphicName : "${getIcon}",
                    label : "${getLabel}",
                    fontColor : "#000",
                    fontWeight: "bold",
                    fontSize : "10px",
                    fontFamily : "Helvetica, DejaVu Sans, Arial, sans-serif",
                    labelAlign : "mm",
                    labelXOffset: 0,
                    labelYOffset: 0,
                    labelOutlineColor: "#ffffff",
                    labelOutlineWidth: 2,
                    labelOutlineOpacity: 0.8
                },
                { context : styleContext }
            );
            var styleMap = new OpenLayers.StyleMap({default: style, temporary: drawingStyle });
            var receivers = new OpenLayers.Layer.Vector('receivers', {styleMap : styleMap});

            var map = new OpenLayers.Map({ div:'map', projection: "EPSG:900913", layers: [
                new OpenLayers.Layer.Google("Google", {type: google.maps.MapTypeId.HYBRID, numZoomLevels: 20}),
                wms,
                receivers
            ]});

            map.zoomToExtent(bounds);

            var featureinfo = new OpenLayers.Control.WMSGetFeatureInfo({
                url: '/ga_resources/wms/',
                title: 'Identify features by clicking',
                layers: [wms],
                queryVisible: true,
                handlerOptions : { stopSingle: false },
                infoFormat: 'application/json'
            });
            var drawfeature = new OpenLayers.Control.DrawFeature(receivers, OpenLayers.Handler.Point);


            function showInfo(evt) {
                var j = JSON.parse(evt.text);
                j = j['taehee-test-rhessys-database/wms'];
                var features = json.read(j);
                receivers.removeAllFeatures();

                patchCollection.reset([]);

                var donorPatch = _.find(features, function(f) {return f.attributes.hasOwnProperty('total_gamma') && f.attributes.total_gamma; });
                var rcv = _.filter(features, function(f) { return !f.attributes.total_gamma; });



                _.each(rcv, function(f) {
                    patchCollection.add({
                        fid : f.fid,
                        gamma: f.attributes.gamma ? f.attributes.gamma : null,
                        patchId: f.attributes.patchId,
                        zoneId: f.attributes.zoneId,
                        hillId: f.attributes.hillId,
                        total_gamma: f.attributes.total_gamma ? f.attributes.total_gamma : null,
                        feature: f
                    })
                });

                donor = new Patch({
                        fid: donorPatch.fid,
                        patchId: donorPatch.attributes.patchId,
                        zoneId: donorPatch.attributes.zoneId,
                        hillId: donorPatch.attributes.hillId,
                        total_gamma: donorPatch.attributes.total_gamma,
                        feature: donorPatch
                });
                new DonorView({model:donor, el:"#donor"}).render();


                receivers.addFeatures(donorPatch);
                //receivers.redraw();
                console.log(receivers);

                return true;
            }

            function onDraw(evt) {
                var patch = {};

                $.ajax({
                    url:'/rhessysweb/get_patch',
                    async:false,
                    data: {
                        x: evt.feature.geometry.x,
                        y: evt.feature.geometry.y,
                        srs: "EPSG:900913",
                        slug: "taehee-test-rhessys-database/taehee-test-data"
                    },
                    success: function(data) {
                        data.feature = evt.feature;
                        evt.feature.attributes.fqpatchid = [data.patchId, data.zoneId, data.hillId];
                        evt.feature.attributes.patchId = data.patchId;
                        evt.feature.attributes.zoneId = data.zoneId;
                        evt.feature.attributes.hillId = data.hillId;
                        evt.feature.attributes.gamma = 0;
                        patchCollection.add(data); }
                });
            }

            featureinfo.events.register("getfeatureinfo", null, showInfo);
            drawfeature.events.register('featureadded', null, onDraw);
            map.addControl(featureinfo);
            map.addControl(drawfeature);
            map.addControl(new OpenLayers.Control.MousePosition());
        });
    </script>
{% endblock %}

{% block extra_css %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="http://openlayers.org/dev/theme/default/style.css" type="text/css">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/font-awesome.css">
    <style type="text/css">
        #map { width: 100%; height:300px; }
        .olMap img { max-width: none; box-shadow: none; }
        .olControlAttribution { position: relative; top: 10px; text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white; }
        .olControlMousePosition { font-weight: bold; text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;}
    </style>

{% endblock %}
