{% extends "pages/page.html" %}

{% load mezzanine_tags %}

{% block main %}{{ block.super }}
    <div id="map" style='width: 600px;'></div>
{% endblock %}

{% block extra_js %}
    <script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
    <script src="http://openlayers.org/dev/OpenLayers.debug.js"></script>
    <script type="text/javascript">
        $(function() {
            var prj = {
                internalProjection: new OpenLayers.Projection('EPSG:900913'),
                externalProjection: new OpenLayers.Projection("EPSG:4326")
            };

            var wkt = new OpenLayers.Format.WKT(prj);
            var json = new OpenLayers.Format.GeoJSON();
            var feature = wkt.read("{{ page.renderedlayer.data_resource.spatial_metadata.bounding_box.wkt }}");
            var bounds = feature.geometry.getBounds();

            var wms = new OpenLayers.Layer.WMS('{{ page.renderedlayer.title }}', "/ga_resources/wms/", {
                styles: "{{ page.renderedlayer.default_style.slug }}",
                layers: "{{ page.renderedlayer.slug }}",
                transparent: true,
                raster: 'patch_5m'
            });

            var styleMap = new OpenLayers.StyleMap({
                pointRadius: 3,
                fillOpacity: 0.3,
                fillColor: "#FA9FB5",
                strokeColor: "#C51B8A",
                graphicName: 'square'
            });
            var receivers = new OpenLayers.Layer.Vector('receivers', {styleMap : styleMap});

            var map = new OpenLayers.Map({ div:'map', projection: "EPSG:900913", layers: [
                new OpenLayers.Layer.Google("Google", {type: google.maps.MapTypeId.HYBRID, numZoomLevels: 20}),
                wms,
                receivers
            ]});

            map.zoomToExtent(bounds);

            var featureinfo = new OpenLayers.Control.WMSGetFeatureInfo({
                url: '/ga_resources/wms/',
                title: 'Identify features by clicking',
                layers: [wms],
                queryVisible: true,
                handlerOptions : { stopSingle: false },
                infoFormat: 'application/json'
            });


            function showInfo(evt) {
                var j = JSON.parse(evt.text);
                j = j['taehee-test-rhessys-database/wms'];
                var features = json.read(j);
                receivers.removeAllFeatures();
                receivers.addFeatures(features);
                receivers.redraw();
                console.log(receivers);

                return true;
            }

//            receivers.addFeatures(new OpenLayers.Feature.Vector(new OpenLayers.Geometry.Point(-8543333, 4763295)));

            featureinfo.events.register("getfeatureinfo", null, showInfo);
            map.addControl(featureinfo);
            map.addControl(new OpenLayers.Control.MousePosition());
            featureinfo.activate();
        });
    </script>
{% endblock %}

{% block extra_css %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="http://openlayers.org/dev/theme/default/style.css" type="text/css">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/font-awesome.css">
    <style type="text/css">
        #map { width: 100%; height:300px; }
        .olMap img { max-width: none; box-shadow: none; }
        .olControlAttribution { position: relative; top: 10px; text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white; }
        .olControlMousePosition { font-weight: bold; text-shadow: 1px 1px 2px white, 0 0 1em white, 0 0 0.2em white;}
    </style>

{% endblock %}